/*ESTILOS PARA EL TECLADO*/
.teclado {
    width: 900px;
    height: 270px;
    position: absolute;
}
/*Teclas blancas*/
.teclas-blancas {
    height: 100%;
    width: 100%;
    display: flex;
}
.teclas-blancas > div {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background-color: #fff;
    background: linear-gradient(to bottom, #fff 70%, rgb(199, 199, 199) 93%, #ffffff 97%);
    box-shadow: inset -5px -2px 5px rgba(0,0,0,0.2), 2px 4px 10px rgba(0,0,0,0.3);
    border: 1px solid rgb(146, 146, 146);
    border-bottom: 10px solid #DBDBDB;
    display: flex;
    justify-content: center;
}
.teclas-blancas > div:active {
    border-bottom: 1px solid rgb(146, 146, 146);
    transform: translateY(10px);
    box-shadow: 0;
    box-shadow: inset 5px 0px 5px rgba(0,0,0,0.2), inset 0px 0px 5px rgba(0,0,0,0.2);
    background: #fff;
}

/*Teclas negras*/
.teclas-negras {
    width: 100%;
    height: 70%;
    position: absolute;
    top: -7px;
    display: flex;
    gap: 37px;
    justify-content: left;
    pointer-events: none; /* Esta propiedad la pongo para que cuando pulse sobre una blanca, aunque esté el área de las teclas negras por encima, se pueda activar */
}
.teclas-negras > div {
    display: flex;
    width: 25%;
    height: 100%;
}
.teclas-negras > div > div {
    background-color: #181818;
    background: linear-gradient(to bottom, #181818 98.5%, #b4b4b4);
    height: 100%;
    width: 29px;
    margin: 0px 12px;
    border: 4px solid #292929;
    border-bottom: 9px solid #181818;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    border-radius: 3px;
    pointer-events: all; /* Para activar la animación de la negras*/
    display: flex;
    justify-content: center;
}
.teclas-negras div > div:active {
    transform: translateY(8px);
    border-bottom: 1px solid #292929;
    background: #181818;
    box-shadow: none;
    pointer-events: all;
}
.teclas-negras-dobles {
    margin-left: 29px;
}
.teclas-negras-dobles:nth-child(3) {
    position: relative;
    left: -48px;
}

.teclas-negras-triples {
    position: relative;
    left: -38px;
}
.teclas-negras-triples:nth-child(4) {
    position: relative;
    left: -86px;
}

/*Clases de CSS para vincularlas al JS*/
.teclado .negras-activas { /*Agrego lo del .teclado para aumentar su especificidad, y no tener que andar poniendo !important*/
    transform: translateY(6px);
    border-bottom: 1px solid #292929;
    background: #181818;
    box-shadow: none;
    pointer-events: all;
}
.teclado .blancas-activas { /*Agrego lo del .teclado para aumentar su especificidad, y no tener que andar poniendo !important*/
    border-bottom: 1px solid rgb(146, 146, 146);
    transform: translateY(10px);
    box-shadow: 0;
    box-shadow: inset 5px 0px 5px rgba(0,0,0,0.2), inset 0px 0px 5px rgba(0,0,0,0.2);
    background: #fff;
}

/* Nombres de las teclas*/
.teclas-blancas div span {
    content: attr(data-nota);
    color: brown;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 230px;
    font-size: 1.1em;
    height: 30px;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease;
}
.teclas-negras div div span {
    content: attr(data-nota);
    user-select: none;
    color: brown;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 1.2em;
    height: 30px;
    top: -60px;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease;
}